<%- include('../includes/head.ejs') %>
  <script src="/js/number.js"></script>
  </head>
  <%- include('../includes/body.ejs') %>
    <div class="row">
      <div class="col s12 align-self-center">
        <div class="d-flex mb-4">
          <div class="flex-grow-1">
            <h3>Transactions</h3>
          </div>
          <div>
            <a href="/transactions/new" class="btn btn-primary">Create transaction</a>
          </div>
        </div>

        <div class="row justify-content-between">
          <% if (transactions.length> 0) { %>
            <% for (let transaction of transactions) { %>
              <article class="col-3 s3 m3 mt-3">
                <%- include('./_card_item.ejs', { transaction: transaction }) %>
              </article>
              <% } %>
            <% } else { %>
              <h1 class="text-center">No transaction created</h1>
            <% } %>
        </div>
      </div>
    </div>
<%- include('../includes/end.ejs') %>
<script src="/js/admin.js"></script>