<%- include('../includes/head.ejs') %>
  </head>
  <%- include('../includes/body.ejs') %>
    <div class="container card">
      <div class="card-body">
        <h1 class="card-title text-center">Create new category</h1>

        <div class="row">
          <form class="col s12" action="/api-keys/new" method="POST">
            <%- include('./_form.ejs') %>
          </form>
        </div>
      </div>
    </div>
<%- include('../includes/end.ejs') %>