<%- include('../includes/head.ejs') %>
  </head>
  <%- include('../includes/body.ejs') %>
    <div class="row">
      <div class="col s12 align-self-center">
        <h1 class="text-center">Welcome to Spendee, <%= user.name %>!</h1>
        <h4 class="text-center">Your personal spending recorder</h4>
      </div>
    </div>
<%- include('../includes/end.ejs') %>