html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

.navbar {
  background-color: black !important;
}

.navbar-brand {
  color: lightgreen;
}

.navbar-brand:hover {
  color: gray;
}

.nav-link {
  color: white !important;
}

.nav-link-active {
  color: lightgreen !important;
}

input.picker[type="date"] {
  position: relative;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}